.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    border: 2px solid red;
}

.child1{
    display: inherit;
    flex-direction: column;
    width: 50%;
}

.child2{
    /* margin-left: 60%; */
    width:50%;
}