@import url('https://fonts.googleapis.com/css2?family=Gudea&family=Lato:wght@300&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gudea&display=swap');

*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;

}

body{
    background-image: linear-gradient(to bottom left ,rgb(46, 3, 58),rgb(114, 50, 216), #0f0a2a);
    background-size: cover;
    color: white;  
    font-family: 'Lato', sans-serif;
    width:100%;
}

.container{
    padding: 34px;


}

.container h1{
    text-align: left;
    margin-left: 0;
    padding: 5px;
    font-size: 50px;
    color: rgb(255, 255, 255);
    
}

p{
    text-align: left;
    margin: 5px;
    font-size: 17px;
    font-weight: bold;
}

input, textarea{
    border: 2px solid black;
    outline: none;
    padding: 7px;
    width: 70%;
    font-size: 16px;
    margin: 11px 0px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    border:1px solid #B547F2;
    color: white;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 20px;
    

}

input::placeholder{
    font-weight: lighter;
}

form{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.btn{
    
    color: white;
    background-color: #763CF1;
    padding:8px 12px;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    margin: 0px 5px;
    width: 130px;
    display: flex;
    padding-left: 30px;


}

.btn:hover{
    background-color: red;
}

.btngroup{
    display: flex;
    align-items: left;
    justify-content: flex-start;
    text-align: center;
    
}

.image{
    width: 100%;
    position: absolute;
    z-index: -1;
    object-fit:fill;
    
}

.submitmsg{
    color: rgb(0, 97, 40);
}

a{
    text-decoration: none;
}